body {
	margin: 0;
	padding: 0;
}

.jumbotron{
    
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0%;
}

#game-over {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border: 2px solid black;
	display: none;
	z-index: 999;
}

#game-over h1 {
	font-size: 40px;
	margin: 0;
	margin-bottom: 20px;
}

#game-over p {
	font-size: 20px;
	margin: 0;
	margin-bottom: 10px;
}

#game-over button {
	font-size: 20px;
	padding: 10px 20px;
	border: none;
	background-color: lightblue;
	cursor: pointer;
}

#rulebox {
    display: flex;
    justify-content: center;
    background-color: rgb(52, 174, 215);
    padding: 10px;
}


footer{
	display: flex;
    position: relative;
	padding-top: 3%;
    width: 100%;
    height: 250px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
font-size: 30px;
color: white;
margin-bottom: 20px;
font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 2px;
}

.social{
    display: flex;
	align-items: center;
    justify-content: center;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content:center ;
    background: rgb(3, 169, 169);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px; 
}

.social a:hover{
  transform: scale(1.3);
  transition: .3s;
}

.end{
	display: flex;
    /* position: absolute; */
    color: rgb(3, 169, 169);
    bottom: 35px;
    font-size: 14px;
	align-items: center;
    justify-content: center;
}